{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block content %}
</div>
    </div>

{{ '<meta http-equiv="Refresh" content="2; url=http://pdr/login">' }}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Спасибо за регистрацию!</h2>
			</div>
			<p>Сейчас вы автоматически будете перенаправлены на страницу авторизации.</p>
		</div>
	</div><!-- .row -->
</div><!-- .container -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}