body {
    padding: 40px;
}
.header{
    /*background-color: #DEDEE1;*/
    max-width: 1170px;
    margin: 0 auto 10px auto;
}
.header .hedFirstRow{
    margin-bottom: 20px;
    background-color: #DEDEE1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.header .news a img{
    height: 50%;
    width: 50%;
    display: inline-block;
    margin: 10%;
}

.header .wrapImg{
    height: 50%;
    width: 50%;
    overflow: hidden;
    margin: 10% 25%;
}

/*.header .slider p{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,.3) 92%,rgba(255,0,0,.3) 90%);
    background-color: rgba(0,0,0,.3);
    color: rgb(255, 255, 255);
    margin: 0;
}
.header .slider div{
    margin-left: 0.5px;
}*/
.header .regist{
    padding-top: 35px;
    text-align: center;
    margin-bottom: 15px;
}
.header .regist a{
    text-decoration: none;
    text-transform: uppercase;
    color:#1F1F20;
    margin-right:15px;
}
.header .regist a:last-child{
    margin-left:0;
}

.header .language{
    text-align: center;
    padding-top: 20px;
}

.header .callBack{
    text-align: center;
}
.header .callBack a{
    text-decoration: none;
    text-transform: uppercase;
    color:#1F1F20;
    font-size: 15px;
}
.header .callBack a img{
    width: 21%;
    display: inline-block;
    /*margin-left:15px;*/
    margin: 10px;
}
.header .info{
    text-transform: uppercase;
    color:#1F1F20;
    font-size: 15px;
    text-align: center;
    line-height: 0.5;
    /*padding-top: 15px;*/
}


.header .hedSecRow{
    /*box-shadow: 0px -10px 0px 0px rgba(0,0,0,0.41);*/
}
.header .hedSecRow>div{
    background-color: #18D0F7;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

.siteNav{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

}
.siteNav li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    text-transform:uppercase;
}
.siteNav li a{
    display: block;
    padding: 0.5vw;
    text-decoration: none;
    color:#000000;
}
.siteNav li a:hover{
    /*background-color: rgba(255,255,255,.3);
    border-radius: 10px;*/
    color: rgba(0,0,0,.5);
}
.siteNav li a:active{
    color: rgba(0,0,0,.1);
}

.siteNav .dropdown-menu li{
    font-size: 12px;
}

.firstSection{

}
.firstSection .sidebar{
    position: relative;
}
.firstSection .advertising{

}
.firstSection .advertising p{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.firstSection .row div{
    padding: 0;
}
.firstSection .secNav{
    margin-bottom: 10px;
}
.firstSection .secSiteNav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.firstSection .secSiteNav li{
    /*border-bottom:2px solid rgba(0,0,0,.5);*/
    margin-bottom: 20px;
}
.firstSection .secSiteNav li:last-child{
    border-bottom:none;
}
.firstSection .secSiteNav li a{
    display: block;
    height: 55px;
    line-height: 1.9vw;
    padding-top: 0.5vw;
    text-decoration: none;
    color:#1F1F20;
    background-color: #DEDEE1;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 5px;
}
.firstSection .secSiteNav li a:hover{
    background-color: #18D0F7;
    border-radius: 10px;
    color: #fff;
}
.firstSection .secSiteNav li a:active{
    background-color: rgba(0,0,0,.7);
}
.firstSection div.main{
    padding-left: 10px;
}
.firstSection .main img{
    float: left;
    margin-right: 10px;
}
.firstSection .main h1{
    text-align: center;
}
.firstSection .main p{
    text-align: justify;
}

.firstSection .wrapSlider{

 max-width: 692px;
    margin: 0 auto;
}

.firstSection .slick-next {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #00aedb;
    border-bottom: 30px solid transparent;
    position:absolute;
    top:140px;
}
.firstSection .slick-prev{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 20px solid #00aedb;
    border-bottom: 30px solid transparent;
    position:absolute;
    top:140px;
}
.slick-slide .slick-current .slick-active{
}
.firstSection h1{
    font-size: 20px;
    text-transform: uppercase;
    color: #18D0F7;
    text-align: center;
}
.firstSection p{
    text-align: justify;
}
.footer{
    display: block;
    margin: 0 auto 10px auto;
    max-width: 1170px;
    height: 70px;
    line-height: 70px;

    padding-left: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    background-color: #DEDEE1;
    /*box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.9);
    border-bottom: 10px solid #18D0F7;*/
    color: #373a3c;
    font-size: 12px;
    text-align: center;
}
.footer p{
    margin: 0;
}

.EducImg{
    height: 250px;
    width: 550px;
    overflow: hidden;
}

.LineImg{
    /*height: 25;*/
    /*width: 100%;*/
    overflow: hidden;
}

.form-control-select{
    width: 32%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s}
